@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}



.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left_wrapper{
    margin-right: 10vw;
}
