@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.course_card {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
  position: relative;
}

button {
    background: none;
}

.top {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.c_title {
  font-weight: 600;
  color: black;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  float: left;
  margin-right: 0.75rem;
}

.title_container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.c_info_container {
  display: flex;
  align-items: center;
  color: #2b6778;
  margin-top: 0.2rem;
}

.c_info {
  color: #2b6778;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-left: 0.5rem;
}

.c_info_icon {
  font-size: 0.8rem;
  width: 20px;
  color: #2b6778;
  color: #2b6778;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.c_info_icon {
  width: 1rem;
  margin-right: 0.3rem;
}

.div_l {
  float: left;
}

.div_r {
  top: 0;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

#div_r {
  width: 10vw;
  right: 1vw;
}

#button_show_more {
  position: absolute;
  bottom: 0.5rem;
  left: 0rem;
  margin: auto;
  width: 100%;
  text-align: center;
}

.icon_show_more:hover {
  cursor: pointer;
}

.remove_course_icon {
  font-size: 2rem;
  color: #f9a26c;
}

.btn-movecourse {
  font-size: 2rem;
  color: #bec8a7;
  margin-right: 0.2rem;
}

.btn-movecoursehidden {
  visibility: hidden;
}

.btn-displaycourse {
  width: 100px;
  display: flex;
  justify-content: right;
}

.course_block_icon {
  background-color: #2b6778;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 1px 6px 1px 6px;
  border-radius: 2px;
  height: 21px;
  width: 21px;
  font-weight: 400;
  font-size: 1rem;
}

.pase_container {
  display: flex;
  align-items: center;
}

.pase_text {
  margin-right: 0.3rem;
  font-weight: 300;
  color: #2b6778;
  font-size: 1rem;
}

.pase_icon {
  color: #bec8a7;
}

.pase_icon_half {
  color: #f9a26c;
}

.add_course_icon {
  font-size: 2rem;
  color: #bec8a7;
  margin: 0;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-box p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 0 0 0;
}

.box button {
  background: #f2f2f2;
  font-size: 1rem;
  border: solid white;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 1rem 0 0 0;
}

.box {
  position: relative;
  background-color: #fff;
  padding: 2rem;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.course_website {
  color: #2b6778;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.course_website:visited {
  color: #f9a26c;
}

.course_website:hover {
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}
