@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.course_card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  position: relative;
}

.top {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.c_title {
  font-weight: 600;
  color: black;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  float: left;
  margin-right: 0.75rem;
}

.title_container {
  display: flex;
  align-items: center;
}

.c_info {
  color: #2b6778;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 0.1rem;
}

.div_l {
  float: left;
}

.div_r {
  top: 0;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

#div_r {
  width: 10vw;
  right: 1vw;
}

#button_show_more {
  position: absolute;
  bottom: 0.5rem;
  left: 0rem;
  margin: auto;
  width: 100%;
  text-align: center;
}

.btn-movecourse {
  height: 40px;
  width: 40px;
  border: 0;
  color: #fff;
  font-size: 25pt;
  text-align: center;

  background-color: #bec8a7;
}

.btn-movecoursehidden {
  visibility: hidden;
}

.btn-removecourse {
  height: 40px;
  width: 40px;
  border: 0;
  color: #fff;
  text-align: center;
  font-size: 25pt;
  background-color: #f9a26c;
  margin-left: 0.2em;
}

.btn-displaycourse {
  width: 100px;
  display: flex;
}

.course_block_icon {
  background-color: #2b6778;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 1px 6px 1px 6px;
  border-radius: 2px;
}

.pase_container {
  display: flex;
  align-items: center;
}

.pase_text {
  margin-right: 0.3rem;
  font-weight: 300;
  color: #2b6778;
}

.pase_icon {
  color: #bec8a7;
}

.pase_icon_half {
  color: #f9a26c;
}

.add_course_icon {
  font-size: 2rem;
  color: #bec8a7;
  margin: 0px;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
