.inner_wrapper_my_courses {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;    
}

.outer_wrapper_my_courses {
    padding: 2rem 9rem 0 9rem;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.toggle_button {
    color: black;
    margin: 0.5rem;
}


.arrow_icon{
    color: black;
    margin: 0 1rem 0 1rem;
    width:0.8rem;
    font-weight: 300;
    border-radius:0;
}

.arrow_icon:hover{
    cursor:pointer;
}


.arrow_icon_disabled{
    color: lightgray;
}

.arrow_icon_disabled:hover {
     cursor: default;
}

.semester_selector {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.875rem;

}

.toggle_overview {
    display: flex;
    width: 60vw;
    margin: 0rem auto 0rem auto;
    font-weight: 700;
    font-size: 1rem;
}
.toggle_overview:hover{
    cursor:pointer;
}

.overview {
    display: flex;
    align-items: center;
}

.underline_toggle_overview {
    display: flex;
    height: 2px;
    background-color: #F2F2F2;
    width: 60vw;
    margin: 0rem auto 0rem auto;
    
}

.underline_left {
    width:8rem;
    
}

.underline_right {
    width: 8rem;
}

.underline_selected {
    background-color:#F9A26C;
}

.my_courses_header {
    background-color: white;
    /* margin-top: 60px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    
}
.upper_header{
    height: 30px;
    width: 60vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.exam_name{
    margin: 1rem auto 1.5rem auto;
    font-weight: 700;
    font-size: 1.25rem;
}

.toggle_icon{
    margin-right: 0.2rem;
    width: 1rem;
}
.upper_header_link {
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: 400;
}
.upper_header_icon{
    margin: 0 0.2rem 0 0.2rem;
}

.exam_name_icon{
    margin-left: 0.2rem;
    margin-bottom: 0.1rem;
    color: lightgrey;
    font-size: 1rem;
}

.semester_header{
    background-color: white;
    height: 120px;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
}

.text_period_2 {
    margin-right: 28rem;
}
.period_1{
}