.wrapper-mycourses {
    display: flex;
    justify-content: center;
    width:100vw;
    background-color: #f2f2f2;
}



.toggle_button {
    color: black;
    margin: 0.5rem;
}


.arrow_button{
    width:50px;
    color:black;
    font-size: 40px;
}

.arrow_button:hover{
    cursor: pointer;
}

#disabled{
    color: lightgray;
}

#disabled:hover {
     cursor: default;
}

.semester_selector {
    display: flex;
    align-items: center;
    margin: 1rem 3rem 1rem 3rem;
    padding: 4rem;
}

.toggle_overview {
    display: flex;
    width: 60vw;
    margin: 5rem auto 0.4rem auto;
}

.overview {
    display: flex;
    align-items: center;
}

.underline_toggle_overview {
    display: flex;
    height: 2px;
    background-color: white;
    width: 60vw;
    margin: 0rem auto 0rem auto;
    
}

.underline_left {
    width:8rem;
}

.underline_right {
    width: 8rem;
}

.underline_selected {
    background-color:#F9A26C;
}