.menu {
    width: 100vw;
    background-color: #2b6778;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    position: fixed;
    top: 0;
}

.first-menu-item {
    margin-right: auto;
    width: 70vw;
    margin-left: 4rem;
    font-size: 2rem;
    color: peru;
}

.menu-item {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

    .menu-item h1 {
        font-size: 1rem;
        color: white;
        margin-top: 0.3rem;
    }

.menu a {
    text-decoration: none;
    display: inline;
    width: auto;
    margin: 1rem;
}
