.menu {
  width: 100%;
  background-color: #2b6778;
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.menu_container {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .menu_container {
    width: 100%;
  }
}

.first-menu-item {
  display: flex;
  margin-right: auto;
  width: 70vw;
  font-size: 2rem;
  color: peru;
}

.menu-item {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0rem 1rem;
}

.menu-item h1 {
  font-size: 1rem;
  color: white;
  margin-top: 0.3rem;
  text-align: center;
}

.menu a {
  text-decoration: none;
  display: inline;
  white-space: nowrap;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
