@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.SearchHeader {
  width: 100%;
  background-color: #fff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar_container {
  width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1000px) {
  .searchbar_container {
    width: 100%;
  }
}

.h1search {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 1rem 0;
}

.SearchbarInput {
  width: 75%;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  padding: 1em;
  border-radius: 2px;
}

.search_btn {
  width: 25%;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: #f9a26c;
  border: none;
  border-radius: 2px;
}

.search_btn:hover {
  background-color:#f9a26c;
  opacity: 0.9;
}

.terminInput {
  width: 25%;
  font-family: "Lato", sans-serif;
  margin: 0 1rem;
  border: 1px solid black;
  padding: 1em;
  border-radius: 2px;
}

.searchform {
  display: flex;
  height: 50px;
}

*:focus {
  outline: none;
}
