@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.filter_menu {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.filter_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}

.filter_header p {
  color: #f9a26c;
}

.filter_item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin: 0.75rem 0;
}

input {
  margin-right: 0.5rem;
}

[type="checkbox"] {
  vertical-align: middle;
}

hr {
  margin: 1rem 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
