#slider {
  position: absolute;
  right: -150px;
  width: 150px;
  height: 100px;
  background: white;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  text-align: center;

  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  vertical-align: middle;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-150%);
  }
}
