@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.table_matrix {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  width: 65vw;
  overflow-x: scroll;
}
.p_tag {
    font-weight: 600;
}

.table_vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vertical_div_k {
    width: 6rem;
    height: 1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    border: 1px solid #f2f2f2;
    padding: 1em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2b6778;
}
.vertical_div {
    width: 6rem;
    height: 1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    border: 1px solid #f2f2f2;
    padding: 1em;
    background-color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.vertical_div_g {
    background-color: #bec8a7;
    width: 6rem;
    display: flex;
    height: 1rem;
    text-align: center;
    font-family: "Lato", sans-serif;
    border: 1px solid #f2f2f2;
    padding: 1em;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.matrix_info {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  flex-direction: column;
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.section_upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  color: red;
}

.section_upper h2 {
  margin-right: 0.5rem;
}
.section_lower {
  overflow-y: scroll;
  height: 40vh;
  flex-direction: column;
  margin: 0 0 3rem 0;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  margin-right: 0.5rem;
  color: #2a6778;
}
