@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.table_matrix {
    display: flex;
}

@media (width > 65vw){
    .table_matrix {
        overflow-x: scroll;

    }
}

.p_tag {
    font-weight: 600;
}

.table_vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.vertical_div_k {
  width: 6rem;
  height: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid #f2f2f2;
  padding: 1em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2b6778;
}
.vertical_div {
  width: 6rem;
  height: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid #f2f2f2;
  padding: 1em;
  background-color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.vertical_div_g {
  background-color: #bec8a7;
  width: 6rem;
  display: flex;
  height: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid #f2f2f2;
  padding: 1em;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.matrix_info {
  display: flex;
  margin: 0 auto;
  width: 60vw;
  flex-direction: column;
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.section_upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  color: red;
}

.section_upper h2 {
  margin-right: 0.5rem;
}
.section_lower {
  overflow-y: scroll;
  height: 40vh;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  margin-right: 0.5rem;
  color: #2a6778;
}

.goal_complete_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
  text-align: center;
}

.icon {
  font-size: 10rem;
  color: #bec8a7;
}

.goal_complete_container p {
  margin: 1rem;
  color: #2b6778;
}

.completing_courses_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem;
  max-width: 70vw;
}

.uppfyll {
    display: flex;
    justify-content: center;
    height: 2rem;
}

.text {
    font-weight: 700;
}

.the_matrix {
    display: flex;
    margin: 0 auto;
    width: 75vw;
    justify-content: center;
    margin-top: 2rem;
}